// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom SCSS files
@import './Header.scss';
@import './IGCarousel.scss';
@import './Product.scss';
@import './ProductsContainer.scss';
@import './IGContainer.scss';

html > body {
    background: white;
}
