.navbar-laravel {
    background-color: #fff;
    padding: 25px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    .logo {
        // height: 30%;
        // width: 30%;
        margin-top: 5px;
        width: 200px;
    }
}
