.products-container {
    .product {
        // max-width: 320px;
        border: 0px;
        display: flex;
        flex-flow: column;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;

        .product-image {
            width: 60%;
            align-self: center;
            padding-top: 15px;

            // position: relative;
            // float: left;
            // width: 100px;
            // height: 100px;
            // background-position: 50% 50%;
            // background-repeat: no-repeat;
            // background-size: cover;
        }

        .product-title {
            font-size: 16px;
            font-weight: bold;
            color: #4a4a4a;
            margin: 0px;
        }
        .product-description {
            font-size: 14px;
            color: #333333;
        }
        .product-price {
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }
    }
}
